@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
    color: $theme-green;
    line-height: 150%;
    .left-container {
        width: 90vw;
        height: 100%;
        background: $theme-maroon;
        overflow-y: scroll;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, $theme-maroon, $theme-dark-maroon);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, $theme-maroon, $theme-dark-maroon);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, $theme-maroon, $theme-dark-maroon);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, $theme-maroon, $theme-dark-maroon);
        /* Standard syntax */
        .left-top {
            height: 20%;
            display: flex;
            align-items: center;
            padding: 0 2vw;
            img {
                height: 10vh;
            }
        }
        .left-mid {
            padding: 5vh 2vw;
            .location {
                .address {
                    font-size: 24pt;
                }
                .location-dtl {
                    font-size: 8pt;
                    @include row-center();
                    justify-content: space-between;
                    width: 8vw; // span:nth-child(1) {}
                    span:nth-child(2) {
                        text-decoration: underline;
                        color: $font-yellow;
                    }
                }
            }
            .poi {
                font-size: 12pt;
                margin-top: 2vh;
                .poi-dtl {
                    display: grid;
                    grid-template-columns: 20vw 20vw 20vw 20vw;
                    grid-row-gap: 10vh;
                    margin-top: 2vh;
                    .poi-dtl-data {
                        width: 14vw;
                        @include row-center();
                        justify-content: flex-start;
                        img {
                            height: 15vh;
                        }
                        article {
                            @include column-center();
                            align-items: flex-start;
                            line-height: 100%;
                            margin-left: 1vw;
                            span:nth-child(1) {
                                font-size: 16pt;
                            }
                            span:nth-child(2) {
                                font-size: 10pt;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}