@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, $theme-maroon, darken($theme-dark-maroon, 50));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, $theme-maroon, darken($theme-dark-maroon, 50));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, $theme-maroon, darken($theme-dark-maroon, 50));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, $theme-maroon, darken($theme-dark-maroon, 50));
    /* Standard syntax */
    color: $theme-green;
    line-height: 150%;
    display: flex;
    .left-container {
        width: 90vw;
        height: 100%;
        overflow-y: scroll;
        .left-top {
            height: 20%;
            display: flex;
            align-items: center;
            padding: 0 2vw;
            img {
                height: 10vh;
            }
        }
        .left-mid {
            padding: 5vh 2vw;
            .location {
                .address {
                    font-size: 24pt;
                }
                .location-dtl {
                    font-size: 8pt;
                    @include row-center();
                    justify-content: space-between;
                    width: 8vw; // span:nth-child(1) {}
                    span:nth-child(2) {
                        text-decoration: underline;
                        color: $font-yellow;
                    }
                }
            }
            .poi {
                font-size: 12pt;
                margin-top: 7vh;
                .poi-dtl {
                    display: grid;
                    grid-template-columns: 20vw 20vw 20vw 20vw;
                    grid-row-gap: 10vh;
                    margin-top: 2vh;
                    .poi-dtl-data {
                        width: 17vw;
                        @include row-center();
                        justify-content: flex-start;
                        img {
                            height: 15vh;
                        }
                        article {
                            @include column-center();
                            align-items: flex-start;
                            line-height: 100%;
                            margin-left: 1vw;
                            span:nth-child(1) {
                                font-size: 16pt;
                            }
                            span:nth-child(2) {
                                font-size: 10pt;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .suburb {
                margin-top: 10vh;
                display: flex;
                flex-direction: column;
                .suburb-title {
                    font-size: 24pt;
                    text-transform: uppercase;
                    margin-bottom: 7vh;
                }
                .suburb-dtl {
                    display: flex;
                    margin-top: 5vh;
                    .person {
                        @include column-center();
                        line-height: 150%;
                        img {
                            height: 25vh;
                        }
                        span:nth-child(2) {
                            font-size: 16pt;
                            margin-top: 2vh;
                        }
                        span:nth-child(3) {
                            font-size: 10pt;
                            text-transform: uppercase;
                        }
                    }
                    #arc {
                        margin-left: 10vw;
                        margin-right: 10vw;
                        border-radius: 500px;
                        width: 40vh;
                        height: 40vh;
                        background: black;
                        border: white solid 1px;
                    }
                    .data {
                        margin-left: 13vw;
                        align-self: center;
                        line-height: 100%;
                        align-items: flex-start;
                        div {
                            @include column-center();
                            align-items: flex-start;
                            span:nth-child(1) {
                                margin: 0;
                                font-size: 10pt;
                                text-transform: uppercase;
                            }
                            span:nth-child(2) {
                                font-size: 16pt;
                                margin-top: 2vh;
                            }
                        }
                        div:nth-child(2) {
                            margin-top: 5vh;
                        }
                        div:nth-child(3) {
                            margin-top: 5vh;
                        }
                    }
                }
            }
        }
    }
    .right-container {
        width: 10vw;
        color: $font-blue-green;
        background: rgba(255, 255, 255, 0.7);
        .explore {
            line-height: 130%;
            width: 10vw;
            @include column-center();
            position: absolute;
            top: 100px;
        }
    }
}

.title {
    font-size: 12pt;
    text-transform: uppercase;
}