<section class="main-container">
    <section class="left-container">
        <section class="left-top">
            <img src="/assets/images/logo.png" alt="company logo">
        </section>
        <section class="left-mid">
            <!-- This is the section for the address details -->
            <section class="location">
                <span class="title">Exploring</span>
                <span class="address">1/1207 Sandgate Road | NUNDAH, QLD 4012</span>
                <div class="location-dtl">
                    <span>Within 10km</span>
                    <span>change</span>
                </div>
            </section>
            <!-- This is the section for point of interest -->
            <section class="poi">
                <span class="title">POINTS OF INTEREST</span>
                <section class="poi-dtl">
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/restaurant.png" alt="restaurant icon">
                        <article>
                            <span>25</span>
                            <span>RESTAURANTS</span>
                        </article>
                    </article>
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/cafe.png" alt="cafe icon">
                        <article>
                            <span>5</span>
                            <span>Cafe</span>
                        </article>
                    </article>
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/park.png" alt="park icon">
                        <article>
                            <span>3</span>
                            <span>parks</span>
                        </article>
                    </article>
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/shopping-mall.png" alt="shopping mall icon">
                        <article>
                            <span>3</span>
                            <span>shopping malls</span>
                        </article>
                    </article>
                </section>
            </section>
            <section class="poi">
                <span class="title">public facilities</span>
                <section class="poi-dtl">
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/schools.png" alt="school icon">
                        <article>
                            <span>2</span>
                            <span>schools</span>
                        </article>
                    </article>
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/hospital.png" alt="hospital icon">
                        <article>
                            <span>0</span>
                            <span>hospitals</span>
                        </article>
                    </article>
                    <article class="poi-dtl-data">
                        <img src="/assets/icons/bus-stop.png" alt="bus stop icon">
                        <article>
                            <span>5</span>
                            <span>bus stops</span>
                        </article>
                    </article>
                </section>
            </section>
            <!-- This is the section for point of suburb -->
            <section class="suburb">
                <span class="suburb-title">suburb information</span>
                <span class="title">demographics</span>
                <section class="suburb-dtl">
                    <div class="person">
                        <img src="/assets/images/male.png" alt="male icon">
                        <span>45%</span>
                        <span>Males</span>
                    </div>
                    <div id="arc"></div>
                    <div class="person">
                        <img src="/assets/images/female.png" alt="female icon">
                        <span>55%</span>
                        <span>Females</span>
                    </div>
                    <div class="data">
                        <div>
                            <span>Average Disposable Income</span>
                            <span>$745 / week</span>
                        </div>
                        <div>
                            <span>Number of family households</span>
                            <span>5422</span>
                        </div>
                        <div>
                            <span>Popular Density</span>
                            <span>1733 / km&#178;</span>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class="right-container">
        <section class="explore">
            <span>Explore</span>
            <span>Similar</span>
            <span>Places</span>
        </section>
    </section>
</section>