@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: $transparent-white;
}

::-webkit-scrollbar {
    width: 10px;
    background: $transparent-white;
}

::-webkit-scrollbar-thumb {
    background: $font-blue-green;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, $theme-maroon, darken($theme-dark-maroon, 50));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, $theme-maroon, darken($theme-dark-maroon, 50));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, $theme-maroon, darken($theme-dark-maroon, 50));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, $theme-maroon, darken($theme-dark-maroon, 50));
    /* Standard syntax */
    color: $theme-green;
    line-height: 150%;
    display: flex;
    .left-container {
        width: 90vw;
        height: 100%;
        overflow-y: scroll;
        .left-mid {
            padding: 2vh 2vw 5vh 2vw;
            line-height: 200%;
            .back-button {
                @include row-center();
                justify-content: space-between;
                width: 7vw;
                cursor: pointer;
                .triangle-left {
                    width: 3vh;
                    height: 3vh;
                    background-image: url('/assets/buttons/back-green.png');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                &:hover {
                    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
            }
            .marital {
                font-size: 12pt;
                margin-top: 7vh;
                .marital-dtl {
                    display: grid;
                    grid-template-columns: 20vw 20vw 20vw 20vw;
                    grid-row-gap: 10vh;
                    margin-top: 2vh;
                    .marital-dtl-data {
                        width: 17vw;
                        img {
                            height: 30vh;
                        }
                    }
                }
            }
            .crime {
                margin-top: 10vh;
                display: flex;
                flex-direction: column;
                .crime-title {
                    font-size: 24pt;
                    text-transform: uppercase;
                    margin-bottom: 7vh;
                }
                .crime-dtl {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5vh;
                    .graph {
                        img {
                            height: 45vh;
                        }
                    }
                    .data {
                        margin-left: 13vw;
                        align-self: center;
                        line-height: 100%;
                        align-items: flex-start;
                        div {
                            @include column-center();
                            align-items: flex-start;
                            span:nth-child(1) {
                                margin: 0;
                                font-size: 10pt;
                                text-transform: uppercase;
                            }
                            span:nth-child(2) {
                                font-size: 16pt;
                                margin-top: 2vh;
                                margin-bottom: 5vh;
                            }
                            ol {
                                line-height: 150%;
                                padding-top: 0;
                                padding-left: 1.5vw;
                                margin-top: 0;
                                font-size: 16pt;
                            }
                        }
                    }
                }
            }
            .marketplace {
                font-size: 12pt;
                margin-top: 7vh;
                .marketplace-dtl {
                    display: grid;
                    grid-template-columns: 20vw 20vw 20vw 20vw;
                    grid-row-gap: 10vh;
                    margin-top: 2vh;
                    .marketplace-dtl-data {
                        width: 17vw;
                        img {
                            height: 30vh;
                        }
                    }
                }
            }
        }
    }
    .right-container {
        width: 10vw;
        color: $font-blue-green;
        background: rgba(255, 255, 255, 0.7);
        .explore {
            line-height: 130%;
            width: 10vw;
            @include column-center();
            position: absolute;
            top: 100px;
            .arrow-button {
                margin-top: 1vh;
                @include transition-basic();
                width: 7vh;
                height: 7vh;
                background-image: url('/assets/buttons/button-unactive.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                &:hover {
                    background-image: url('/assets/buttons/button-active.png');
                }
            }
        }
    }
}

.title {
    font-size: 12pt;
    text-transform: uppercase;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}