<section class="main-container">
    <section class="left-container">
        <section class="left-mid">
            <section class="back-button" routerLink="/welcome">
                <div class="triangle-left"></div>
                <span>Go back</span>
            </section>
            <!-- This is the section for Marital status -->
            <section class="marital">
                <span class="title">Marital Status</span>
                <section class="marital-dtl">
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-single.png" alt="marital status single">
                    </article>
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-married.png" alt="marital status married">
                    </article>
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-separated.png" alt="marital status separated">
                    </article>
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-widowed.png" alt="marital status widowed">
                    </article>
                </section>
            </section>
            <section class="marital">
                <span class="title">dwelling types</span>
                <section class="marital-dtl">

                </section>
            </section>
            <!-- This is the section for point of crime -->
            <section class="crime">
                <span class="title">crime rate</span>
                <section class="crime-dtl">
                    <div class="graph">
                        <img src="/assets/images/crime-graph.png" alt="marital status widowed">
                    </div>
                    <div class="data">
                        <div>
                            <span>TOTAL NUMBER OF OFFENCES</span>
                            <span>205</span>
                        </div>
                        <div>
                            <span>TOP OFFENCES</span>
                            <span>
                                <ol>    
                                    <li>Unlawful Entry</li>
                                    <li>Theft</li>
                                    <li>Fraud</li>
                                </ol>
                            </span>
                        </div>
                    </div>
                </section>
            </section>
            <!-- This is the section for Marketplace -->
            <section class="marketplace">
                <span class="title">the marketplace</span>
                <section class="marketplace-dtl">
                    <article class="marketplace-dtl-data">
                        <span>4</span>
                        <span></span>
                    </article>
                </section>
            </section>
        </section>
    </section>
    <section class="right-container">
        <section class="explore" routerLink="/welcome/maps">
            <span>Explore</span>
            <span>Similar</span>
            <span>Places</span>
            <div class="arrow-button"></div>
        </section>
    </section>
</section>