<section class="modal">
    <section class="modal-container">
        <span>Sorry...</span>
        <span>This feature is not available yet :(</span>
    </section>
</section>
<section class="back-button" routerLink="/welcome/maps">
    <div class="triangle-left"></div>
    <span>Go back</span>
</section>
<section class="main-container">
    <section class="left-container">
        <section class="left-mid">
            <!-- This is the section for Marital status -->
            <section class="marital">
                <span class="title">Marital Status</span>
                <section class="marital-dtl">
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-single.png" alt="marital status single">
                    </article>
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-married.png" alt="marital status married">
                    </article>
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-separated.png" alt="marital status separated">
                    </article>
                    <article class="marital-dtl-data">
                        <img src="/assets/icons/icon-only-widowed.png" alt="marital status widowed">
                    </article>
                </section>
            </section>
            <!-- This is the section for Dwelling status -->
            <section class="dwelling">
                <span class="title">dwelling types</span>
                <section class="dwelling-dtl">
                    <article class="dwelling-dtl-data">
                        <img src="/assets/icons/icon-only-house.png" alt="dwelling types house">
                    </article>
                    <article class="dwelling-dtl-data">
                        <img src="/assets/icons/icon-only-townhouse.png" alt="dwelling types townhouse">
                    </article>
                    <article class="dwelling-dtl-data">
                        <img src="/assets/icons/icon-only-apartment.png" alt="dwelling types apartment">
                    </article>
                    <article class="dwelling-dtl-data">
                        <img src="/assets/icons/icon-only-other.png" alt="dwelling types other">
                    </article>
                </section>
            </section>
            <!-- This is the section for point of crime -->
            <section class="crime">
                <span class="title">crime rate</span>
                <section class="crime-dtl">
                    <div class="graph">
                        <img src="/assets/images/crime-graph.png" alt="marital status widowed">
                    </div>
                    <div class="data">
                        <div>
                            <span>TOTAL NUMBER OF OFFENCES</span>
                            <span>205</span>
                        </div>
                        <div>
                            <span>TOP OFFENCES</span>
                            <span>
                                <ol>    
                                    <li>Unlawful Entry</li>
                                    <li>Theft</li>
                                    <li>Fraud</li>
                                </ol>
                            </span>
                        </div>
                    </div>
                </section>
            </section>
            <!-- This is the section for Marketplace -->
            <section class="marketplace">
                <span class="title">the marketplace</span>
                <section class="marketplace-dtl">
                    <article class="marketplace-dtl-data">
                        <span class="number">4</span>
                        <article>
                            <span>competitors</span>
                            <span>view all</span>
                        </article>
                    </article>
                    <article class="marketplace-dtl-data">
                        <span class="number">10</span>
                        <article>
                            <span>Complementary business</span>
                            <span>view all</span>
                        </article>
                    </article>
                </section>
            </section>
        </section>
    </section>
    <section class="right-container">
        <section class="explore" routerLink="/welcome/maps">
            <span>Explore</span>
            <span>Similar</span>
            <span>Places</span>
            <div class="arrow-button"></div>
        </section>
    </section>
</section>