section.main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url('/assets/images/bistro-bg.png');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}