<section class="main-container">
    <section id="left-container">
    </section>
    <section class="right-container">
        <section class="right-top">
            <img src="/assets/images/logo.png" alt="company logo" routerLink="/welcome">
            <section class="back-button" routerLink="/welcome/stats-nundah">
                <div class="triangle-left"></div>
                <span>Go back</span>
            </section>
        </section>
        <section class="right-mid">
            <span class="title">Your Location</span><br/>
            <section class="address">
                1/1207 Sandgate Road | NUNDAH, QLD 4012
            </section>
            <span class="title spacing">Best Matches</span>
            <section class="selection" routerLink="/welcome/stats-wooloowin">
                <span class="selection-left">91%</span>
                <article class="selection-right">
                    <span>Wooloowin, QLD 4030</span>
                    <span>&#9655;</span>
                </article>
            </section>
            <section class="selection" routerLink="/welcome/stats-hendra">
                <span class="selection-left">77%</span>
                <article class="selection-right">
                    <span>Hendra, QLD 4011</span>
                    <span>&#9655;</span>
                </article>
            </section>
            <section class="selection" routerLink="/welcome/stats-kedron">
                <span class="selection-left">70%</span>
                <article class="selection-right">
                    <span>Kedron, QLD 4031</span>
                    <span>&#9655;</span>
                </article>
            </section>
            <section class="selection" routerLink="/welcome/stats-wavellHeights">
                <span class="selection-left">43%</span>
                <article class="selection-right">
                    <span>Wavell Heights, QLD 4012</span>
                    <span>&#9655;</span>
                </article>
            </section>
            <section class="selection" routerLink="/welcome/stats-clayfield">
                <span class="selection-left">33%</span>
                <article class="selection-right">
                    <span>Clayfield, QLD 4011</span>
                    <span>&#9655;</span>
                </article>
            </section>
            <span class="title definition" (click)="showFilter()">Edit Filter</span>
        </section>
    </section>
</section>