<section class="main-container" (click)="hideSuggestion()">
    <section class="top-container">
        <img src="/assets/images/logo.png" alt="company logo">
    </section>
    <section class="mid-container">
        <section class="tagline">
            <h1>Find your next</h1>
            <h1>Business Location</h1>
        </section>
        <section class="form">
            <form action="">
                <div>
                    <input list="browsers" [(ngModel)]="inputText" type="text" name="location" placeholder="Enter an address of a high performing site..." (click)="showSuggestion($event)" />
                    <span *ngIf="(inputText != address && inputText != '') || isError ">Invalid location. Please choose from the drop-down menu.</span>
                </div>
                <p *ngIf="isSuggestionShown" (click)="selectAddress()">{{address}}</p>
                <button type="submit" name="submit" (click)="toStatsPage()">
                    <span>ANALYZE</span><span>&#9655;</span>
                </button>
            </form>
        </section>
    </section>
</section>

<router-outlet></router-outlet>