<section class="main-container" (click)="hideSuggestion()">
    <section class="top-container">
        <img src="/assets/images/logo.png" alt="company logo">
    </section>
    <section class="mid-container">
        <section class="tagline">
            <h1>Find your next</h1>
            <h1>Business Location</h1>
        </section>
        <section class="form">
            <form action="">
                <input list="browsers" [(ngModel)]="inputText" type="text" name="location" placeholder="Enter the location you want to look at..." (click)="showSuggestion($event)"/>
                <p *ngIf="isSuggestionShown" (click)="selectAddress()">{{address}}</p>
                <button type="submit" name="submit">
                    <span>Continue</span>
                    <span>&#9655;</span>
                </button>
            </form>
        </section>
    </section>
</section>  