    @import '../sass/variables';
    @import '../sass/mixins';
    @import '../sass/globalStyles';
    .modal {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        @include row-center();
        .modal-container {
            background: white;
            @include column-center();
            border-radius: 5px;
            margin-top: 10vh;
            color: $font-blue-green;
            font-size: 14pt;
            padding: 2vh 10vw;
        }
    }
    
    .back-button {
        position: absolute;
        color: $theme-green;
        top: 5vh;
        left: 5vh;
        z-index: 2;
        @include row-center();
        justify-content: space-between;
        width: 9vw;
        border: $theme-green solid 1px;
        border-radius: 5px;
        padding: 1vh 1vw;
        cursor: pointer;
        .triangle-left {
            width: 3vh;
            height: 3vh;
            background-image: url('/assets/buttons/back-green.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }
    
    .main-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        overflow: hidden;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(top, $theme-maroon, $theme-dark-maroon);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, $theme-maroon, $theme-dark-maroon);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, $theme-maroon, $theme-dark-maroon);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, $theme-maroon, $theme-dark-maroon);
        /* Standard syntax */
        color: $theme-green;
        line-height: 150%;
        display: flex;
        #left-container {
            width: 75vw;
            height: 100vh;
        }
        .right-container {
            width: 25vw;
            height: 100vh;
            padding: 0 1vw;
            .right-top {
                height: 17%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    height: 10vh;
                    cursor: pointer;
                }
            }
            .right-mid {
                .selection {
                    cursor: pointer;
                    color: $font-grey;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    height: 7vh;
                    background: rgba(255, 255, 255, 0.7);
                    border: transparent solid 2px;
                    margin-top: 2vh;
                    .selection-left {
                        font-size: 16pt;
                        @include row-center();
                        width: 15%;
                        height: 100%;
                        background: white;
                    }
                    .selection-right {
                        font-size: 14pt;
                        @include row-center();
                        justify-content: space-between;
                        width: 85%;
                        height: 100%;
                        padding: 0 1vw;
                        span:nth-child(2) {
                            color: $font-blue-green;
                            font-weight: bold;
                        }
                    }
                    &:hover {
                        border: $font-yellow solid 2px;
                    }
                }
                .definition {
                    @include transition-basic();
                    font-size: 10pt;
                    margin-top: 2vh;
                    float: right;
                    cursor: pointer;
                    &:hover {
                        color: darken($theme-green, 15);
                    }
                }
            }
        }
    }
    
    .title {
        font-size: 12pt;
        text-transform: uppercase;
    }
    
    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
    
    .address {
        color: $font-yellow;
        font-weight: bold;
        margin-bottom: 5vh;
    }
    
    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }
        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }
        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }