//theme color
$font-grey: #555555;
$font-white: #ffffff;
$font-yellow: #C3A485;
$font-blue-green: #067376;
$theme-orange: #FFDF6B;
$theme-dark-orange: #ff9715;
$theme-green: #C2CFBD;
$theme-drak-green: #728780;
$theme-maroon: #2A001C;
$theme-dark-maroon: #13001c;
$transparent-white: rgba(255, 255, 255, 0.5);

// Colors for ethnicities
$eth-color1: green;
$eth-color2: turquoise;
$eth-color3: orange;
$eth-color4: white;
$eth-color5: pink;